h1:hover {
    transition: 0.3s scale ease-in-out;
    transition: 0.3s color ease-in-out;
    scale: 1.05;
    background-color: #39c6ea;
    border-color: black;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
button:hover {
    transition: 0.3s scale ease-in-out;
    transition: 0.3s color ease-in-out;
    scale: 1.05;
    background-color: #39c6ea;
    border-color: black;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
h2:hover {
    transition: 0.3s scale ease-in-out;
    transition: 0.3s color ease-in-out;
    scale: 1.05;
    background-color: #39c6ea;
    border-color: black;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}